API_AI_CLIENT_TOKEN=abc123
NEXMO_API_KEY=abc123
NEXMO_API_SECRET=abc123
NEXMO_APPLICATION_ID=abc123
NEXMO_NUMBER=447700900000
PUSHER_APP_ID=abc123
PUSHER_KEY=abc123
PUSHER_SECRET=abc123
CNAM_ENABLED=true
