<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://js.pusher.com/4.0/pusher.min.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" rel="stylesheet">
    <link href="/talk.css" rel="stylesheet">

    <style>
      html, body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        font-family: 'Comfortaa', cursive;
      }

      body {
        display: flex;
        align-items: center;
      }

      h1, h2, h3 {
        font-weight: bold;
      }

      h1 {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        text-align: center;
        padding: 20px 0;
        font-size: 3em;
      }

      #bot {
        position: relative;
        width: 40vw;
        height: 40vw;
        margin: 5vw;
      }

      #logo, #robot {
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
      }

      #logo {
        background-image: url('/logo.svg');
      }

      #robot {
        background-image: url('/robot.svg');
      }

      small {
        opacity: 0.6;
        font-size: 0.5em;
        marign: 0;
      }

      #talk-bubble {
        position: relative;
      }

      .top {
        top: -100vh;
        transition: all 15s ease-in;
      }


      #feed {
        position: relative;;
        background: red;
        height: 50vh;
        margin-top: 50vh;
      }

      .spin {
        animation-name: spin;
        animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
        animation-duration: 1.8s;
      }

      @keyframes spin {
          from { transform: rotate(0deg) }
          to { transform: rotate(180deg) }
      }

    </style>

    <script>

      // Enable pusher logging - don't include this in production
      Pusher.logToConsole = true;

      var pusher = new Pusher('<%= pusher_key %>', {
        encrypted: true
      });

      var channel = pusher.subscribe('message');

      var animation = ['bounce', 'spin']

      channel.bind('new', function(data) {
        var template = document.querySelector('#bubble');
        template.content.querySelector('p').textContent = data.message;
        template.content.querySelector('small span').textContent = data.number.substring(0, data.number.length - 3) + 'XXX'
        var clone = document.importNode(template.content, true);
        document.querySelector('#feed').appendChild(clone);

        setTimeout(function() {
          var child = document.querySelector('#feed > div:not(.top)')
          child.classList.add('top');
        }, 3000)

        animate();
      });

      function animate() {
        document.querySelector('#robot').classList.remove('animated')
        document.querySelector('#robot').classList.remove(animation[0])
        document.querySelector('#logo').classList.remove('animated')
        document.querySelector('#logo').classList.remove(animation[1])

        setTimeout(function(){
          document.querySelector('#robot').classList.add('animated')
          document.querySelector('#robot').classList.add(animation[0])
          document.querySelector('#logo').classList.add('animated')
          document.querySelector('#logo').classList.add(animation[1])
        }, 10)
      }
    </script>
  </head>
  <body>
    <div id="bot">
      <div id="logo"></div>
      <div id="robot"></div>
    </div>
    <h1>Send "Hello" to <%= nexmo_number %></h1>

    <div id="feed">

    </div>

    <template id="bubble">
      <div class="talk-bubble tri-right left-in animated zoomIn">
        <div class="talktext">
          <small>reply to <span></span></small>
          <p></p>
        </div>
      </div>
    </template>

  </body>
</html>
